{{ define "card" }}

<div class="five wide doubling column">
  <div class="ui card fluid eq-card">
    <div class="content">
      <div class="header ">{{ .Item.Title }}</div>
      <div class="meta">
        <span>{{ .Item.PublishDate.Format "02 Jan 15:04" }}</span>
        <a href="{{ .Source.Homepage }}">
          {{ .Source.Title }}
        </a>
      </div>
      <div class="description">
        <p>{{ .Item.Description }}</p>
      </div>
    </div>
    <a class="ui bottom attached primary button" href="{{ .Item.Link }}">
      <i class="icon globe"></i>
      Read in {{ .Source.Title }}
    </a>
  </div>
</div> <!-- end column -->

{{ end }}
