{{ define "index" }}

{{ template "head" . }}
<style>
  /* .row {
    height: 300px;
  } */

  .column {
    height: 100%;
  }

  .eq-card.ui.card {
    flex: 1;
    /* Shrink and grow according to available height */
    flex-basis: 0;
  }
</style>

<div class="ui centered grid container">

  {{ range $index, $item := .Items }}

  {{ if checkIfValid $index}}<div class="row">{{ end }}

    {{ template "card" (renderCard $item) }}

    {{ if checkIfValid2 $index}}</div>{{ end }}

  {{ end }}

</div>

{{ template "tail" . }}

{{ end }}
